<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
            text-align: center;
        }
        p {
            color: #666;
            line-height: 1.6;
        }
        
    </style>
</head>
<body>

<div class="container">
    <h1>About Me</h1>
    
    <p><b>Name:</b> Chad Daeniel L. Albiso</p>
    <p><b>Section & Year:</b> SBIT-2G</p>
    <p><b>Subject:</b> IPT101 - Integrative Programming and Technologies 1</p>
    <p> </p>
    <h5><b>Short Introduction about me </b></h5> 

    <p> I'm Chad Daniel L. Albiso, 19 years old, from Caloocan City. I am currently enrolled in the Information Technology program at Quezon City University, and I'm a second-year irregular student.  </p>

    <p>
        Feel free to contact me in my Gmail account <a href="albiso.chaddaeniel.luib@gmail.com">email</a>.
    </p>
</div>

</body>
</html>
